body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.scoreboard div {
    margin: 5px 0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card.matched {
    background-color: #28a745; /* Green color for matched cards */
    cursor: default; /* Disable pointer cursor */
}

.card.flipped .card-content {
    transform: rotateY(180deg);
}

.card-content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    border-radius: 10px;
    overflow: hidden;
}

.card-content .front,
.card-content .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}

.card-content .front {
    background-color: #007bff;
    color: white;
    transform: rotateY(180deg);
}

.card-content .back {
    background-color: #fefefe;
    color: #007bff;
    transform: rotateY(0deg);
}
